* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  padding: 2rem;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 25rem;
  /* max-width: 400px; */
  background: #333;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

header h1 {
  margin-bottom: 2rem;
  font-size: 2rem;
  color: #fff;
}

.login-form {
  width: 100%;
}

.form-group {
  margin-bottom: 1rem;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  color: #ccc;
}

input[type="text"], input[type="password"] {
  width: 100%;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 5px;
  background: #444;
  color: #fff;
  outline: none;
}

input[type="text"]::placeholder, input[type="password"]::placeholder {
  color: #bbb;
}

.login-btn {
  background-color: #4caf50;
  color: #fff;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  margin-top: 1rem;
}

.login-btn:hover {
  background-color: #45a049;
}

.register-link {
  margin-top: 1rem;
  font-size: 0.9rem;
  color: #ccc;
}

.register-link a {
  color: #4caf50;
  text-decoration: underline;
}

