<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../src/styles/dashboard.css">
</head>
<body>
  <div class="dashboard">
    <div class="dashboard__container">
      <div class="dashboard__card">
        <p class="time">Time [12:00] </p>
        <p class="location">Location [Vancouver]</p>
        <p class="temperature">Temp [16C]</p>
      </div>
      <div class="dashboard__card">
        <p class="time">Time [12:00] </p>
        <p class="location">Location [Vancouver]</p>
        <p class="temperature">Temp [16C]</p>
      </div>
      <div class="dashboard__card">
        <p class="time">Time [12:00] </p>
        <p class="location">Location [Vancouver]</p>
        <p class="temperature">Temp [16C]</p>
      </div>
      <div class="dashboard__card">
        <p class="time">Time [12:00] </p>
        <p class="location">Location [Vancouver]</p>
        <p class="temperature">Temp [16C]</p>
      </div>
      <div class="dashboard__card">
        <p class="time">Time [12:00] </p>
        <p class="location">Location [Vancouver]</p>
        <p class="temperature">Temp [16C]</p>
      </div>
    </div>
    </div>
  </div>
</body>
</html>