<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="../static/styles/dashboard.css">
</head>
<body>
  <section class="dashboard">
    <h3>Dashboard</h3>
    <div class="dashboard-container">
      <!-- Placeholder cards -->
      <div class="dashboard-card">
        <button class="add-btn"></button>
      </div>
      <div class="dashboard-card">
        <button class="add-btn"></button>
      </div>
      <div class="dashboard-card">
        <button class="add-btn"></button>
      </div>
      <div class="dashboard-card">
        <button class="add-btn"></button>
      </div>
      <div class="dashboard-card">
        <button class="add-btn"></button>
      </div>
    </div>
  </section>

  <script src="../static/scripts/dashboard.js"></script>

  <script>
    // Call loadSavedLocations function after page loads
    document.addEventListener('DOMContentLoaded', loadSavedLocations);
  </script>

</body>
</html>
