<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Weather App</title>
<link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <script src="../src/scripts/main.js"></script>
    <div class="container">
        <!-- Header Section -->
        <header>
            <div class="dark-mode-toggle">
                <label>
                    <input type="checkbox" id="darkModeSwitch">
                    <span>Dark Mode</span>
                </label>
            </div>
            <input type="text" class="search-bar" placeholder="Search for your preferred city...">
            <button class="current-location-btn">Current Location</button>
        </header>

        <!-- Current Weather Section -->
        <section class="current-weather">
            <div class="time-info">
                <h2 id="cityName">Athens</h2>
                <h1 id="time">09:03</h1>
                <p id="date">Thursday, 31 Aug</p>
            </div>
        
            <div class="weather-info">
                <h2 id="temperature">24°C</h2>
                <p id="feelsLike">Feels like: 22°C</p>
        
                <div class="sun-info">
                    <p id="sunrise">Sunrise: 06:37 AM</p>
                    <p id="sunset">Sunset: 20:37 PM</p>
                </div>
        
                <div class="extra-info">
                    <p id="humidity">Humidity: 41%</p>
                    <p id="windSpeed">Wind Speed: 2 km/h</p>
                    <p id="pressure">Pressure: 997 hPa</p>
                    <p id="uvIndex">UV Index: 8</p>
                </div>
            </div>
        </section>
        

        <!-- 5-Day Forecast -->
        <section class="five-day-forecast">
            <h3>5 Days Forecast:</h3>
            <ul>
                <li>20°C - Friday, 1 Sep</li>
                <li>22°C - Saturday, 2 Sep</li>
                <li>27°C - Sunday, 3 Sep</li>
                <li>18°C - Monday, 4 Sep</li>
                <li>16°C - Tuesday, 5 Sep</li>
            </ul>
        </section>

        <!-- Saved Locations -->
        <section class="saved-locations">
            <h3>Saved Locations:</h3>
            <ul>
                <li>[Location Name] - 20°C</li>
                <li>[Location Name] - 20°C</li>
                <li>[Location Name] - 20°C</li>
                <li>[Location Name] - 20°C</li>
                <li>[Location Name] - 20°C</li>
            </ul>
        </section>

        <!-- Settings Icon -->
        <div class="settings-icon">
            <img src="settings-icon.png" alt="Settings">
        </div>
    </div>
</body>
</html>